

.navbar_container{

        top: 0;
        position: fixed;
        z-index: 100;
        width: 100%;
    nav{
        margin-right: 30px;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        

        p {
            margin: 10px;
            cursor: pointer;
            font-family: $font;
            color: $primary
        }

        p >.active{
            border-bottom: 2px solid $secondary;
            font-weight: 600;
            color: white;

        }

        
    }
}

.nav_container_scroll{
    @extend .navbar_container;
    background-color: rgba(0, 0, 0, 0.527);
    backdrop-filter: blur(50px);
}

